#!/bin/bash
{% for host in groups['backup-slave'] %}
{% for source in hostvars[host]['backup_sources'] %}
rsync {{ source.rsync_opts }} {{ source.user }}@{{ hostvars[host]['ansible_host'] }}:{{ source.path }} {{ backup_device.path }}/{{ host }} >> /var/log/backup/{{ host }}.log
{% endfor %}
{% endfor %}
